{% extends 'openforbusiness/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginStyles.css' %}">
    <script src="{% static 'js/pwdchange.js' %}"></script>
{% endblock %}

{% block content %}

{% if message %}
        <div>{{ message }}</div>
{% endif %}

<div class="container">
        <div class="loginbox">    
            <div>  
                <h2 class="text-center">Password Change</h2>
                <p>
                    Please enter your old password, and then enter your new
                    password twice so we can verify you typed it in correctly.
                </p>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}

                    <!--input class="btn btn-success" type="submit" value=""-->
                    <button type="submit" class="btn btn-primary">Change my password</button> 
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}