{% extends "openforbusiness/layout.html" %}

{% block content %}
 
<div class="container about_body">
  <a href="https://docs.cs50.net/web/2020/x/projects/1/project1.html"><h3> Project Books<h3> </a> 
</div>

<div class="aboutContact">
  <a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a>
</div>

<span style="position: absolute; bottom: 0pt; right: 0pt; ">
<div class="bottom_link">
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
<div>
</span>

{% endblock %}
