{% extends "openforbusiness/layout.html" %}

{% block content %}

<!-- New Post Form 12/21/2020-->
<div class="row rounded newPost" id="post-form">
    <div class="col-md">

        <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="post_title">Title</label>
            <input type="text" class="form-control" placeholder="Title" name="post_title">

            <label for="post_body">New Post</label>
            <textarea class="form-control" id="post_body" placeholder="My Post" name='post_body' rows="3"></textarea>
        </div>
        <button type="submit" value='Save' class="btn btn-primary btn-post">Post</button>
        </form>
    </div>
</div>
<hr>
<!-- ****************************** -->

{% for post in posts %}
<div class="row rounded" id="post">
    <div class="col-md">
        <b>
            <spam id="post-username">@{{post.author}}
        </b></spam>
        Posted on: {{ post.timestamp}}<br>
        <i>{{ post.title }}</i>
        <div class="body-post">
            {% if post.body|length > 100 %}
            {{ post.body|slice:":100" }}
            . . .
            <a href="{% url 'post_detail' post.id %}" class="btn btn-primary btn-sm active" role="button"
                aria-pressed="true">more</a>
            </a>
            {% else %}
            {{ post.body}}
            {% endif %}
        </div>

        post.likes.user: {{post.likes.user}}
        <form action="{% url 'likedpost' post.pk %}" method="POST" class="">
            {% csrf_token %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            <spam id='total_likes'>{{post.total_likes}} </spam>
            <!--show edit button if is the same user-->
            {% if user == post.author %}
            <a class="btn btn-primary btn-sm" href="{% url 'post_edit' post.pk %}" role="button">Edit</a>
            <a class="btn btn-primary btn-sm" href="{% url 'post_delete' post.pk %}" role="button">Delete</a>
            {% else %}
            <button type="submit" , name="post_id" , value="{{ post.id }}" ,
                class="btn btn-primary btn-sm">Like</button>
        </form>
        {% endif %}
    </div>

</div>
<hr>


{% endfor %}

<!--Django Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end pagination-style">

        <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>

        <!-- <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>-->

    </ul>
</nav>
<!-- End Django Pagination -->

{% endblock %}