
.b_card {
    height:auto;
    margin-right: 0px;
    border-style: solid;
}

#card_style {
        width: 330px;
        margin-bottom: 0;
}

#label_new_name {
    margin-top: 5px;
}

.input_cntr {
    display:block;
}
