body {
    font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
    margin : 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /*height : 100%;*/	
	/*display : grid;*/
}

.pancake-stack {
    height : 100%;
    grid-template-rows: auto 1fr auto;  
    display : grid;
}

header {
	display : block;	
}	

main {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.logo {
    width: 30%;
    height: auto;
}

.p404 {
    width: 100%;
    height: 100%;
    background-image: url('https://dl.dropboxusercontent.com/s/6hsz3ytdeqqyk9m/bluevw_old.jpg?dl=0');
    background-size: contain;
    background-repeat: no-repeat;
}



.p404Title {
    text-align: center;
}

.contactForm {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 400px;
    overflow: hidden;
}

.contactFormHeader {
    background: purple;
    border-bottom: 4px solid purple;
    color: white;
    text-align: center;
    overflow: hidden;
}

h1 {
    line-height: 1em;
}

.formBody {
    margin: 2%;
}

.contactFormButton {
    margin-top: 10px;
}

.passwordChangeHeader {
    background: purple;
    border-bottom: 4px solid purple;
    color: white;
    text-align: center;
    overflow: hidden;
}

.passwordChangeView {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 450px;
    overflow: hidden;
}

.passwordChangeBtnSubmit {
    margin-top: 10px;
}

.passwordChangeForm {
    margin: 2%;
}

.registerView {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 450px;
    overflow: hidden;
}

.registerForm {
    margin : 2%;
}

#passwordResetView {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 450px;
    overflow: hidden;
}

/* used in layout.html to style the avatar */
.avatar {
    margin: 5px;
    border: 2px solid blue;
    border-radius: 25px;
    -webkit-box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.43);
    box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.43);
    width: 50px;
    height: 50px;
}

.center {
    text-align : center;
}

.checked {
    color : orange;
}

.heart {
    color : red;
}

span.step-links {
    margin-right:2rem;
}

.card_front {
    display:grid;
    width:350px;
    max-width:350px;
    height:200px;
    grid-template-columns: 0.8fr 2.2fr;
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
    "b_name b_name"
    "img_area description"   
    "card_footer card_footer";
    border-style:solid;     
    background-color: beige;    
    margin : 5px;
    /*position : relative;*/
}

.b_name {
    grid-area:b_name;
    text-align: center; 
}

.business_description {
    grid-area : description;
}

.card_footer{    
    background-color: white;
    color : black;
    grid-area : card_footer;    
    text-align: center;
    font-size : large;
}

.custom_card {
    width:350px;
    max-width:350px;
    height:200px;   
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;   
    background-repeat: no-repeat;    
    background-size: contain; 
    background-position: center center;
    text-align: center;
}

.img_container {    
    grid-area : img_area;
    display: inline-block;    
    vertical-align: middle;
    max-height: 115px;
}

.business_img {
    height: 100%;
    max-height: 120px;
    max-width : 130px;
    object-fit: contain;    
}

.b_rating {    
    padding-left: 3px;
}

.business_form {
    margin : 10px;
}

#data_input {
    width : auto;
    max-width : 350px;
}

#card_style {
    width:320px;
    margin-bottom: 10px;
}

.image-upload > input {
    display: none;
}

.photo-camera {
    width : 48px;
    height : auto;
    position : absolute;
    top : 55px;
    left : 35px;
}

#div_address_id {
    text-align:center;   
}

.reviewcontent {
    margin-left: 10px;
}

a.reviews {
    font-size: 12px;
    color: #2e2f32;
}

.model_card {
    margin-bottom: 10px;
    border-color: black;
    border-width: 1px;
    padding : 2px;
}

.container {
    display : flex;
    gap : 5px;
    flex-direction: row;
    flex-wrap: wrap;
}
.scheme_card {
    text-align: center;
    background: lightblue;
    width:300px;
    margin : 5px;
}

#editlink a:link {
    color:inherit;
 }

#address_label_id {
    margin-top: 5px;
}

.services {
    font-size:small;
    line-height: 1;
    text-align:center;
    min-height: 20px;
    padding-left: 3px;
}

.biz-media-list {
    list-style-type: none;
}

.card_back {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width:350px;
    max-width:350px;
    height:200px;    
    margin : 5px;
    border-style: solid;
}

.card_back a {
    color: inherit; 
}
.center_txt {
    text-align: center;
}

.link_review {
    font-size : 0.7rem;
    background-color: transparent;
    text-decoration: none;
}

.ph_preview {
    background-color: transparent;
    text-decoration: none;
}

.hide {
    display : none;
}

.flip_cursor {
    cursor : pointer;
}

/*Pagination Style*/
.pagination-style {
    margin-top: 10px;
}
