.post-entry {
    margin-bottom: 2rem;
    margin-left: 2%;
    margin-right: 2%;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;

}

post-entry p {
    margin: 0;
    font-weight: 400;
}

post-entry h2 a:hover {
    color: red;
}

.body-post {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
    border-color: cadetblue;
    background-color: lightgoldenrodyellow
}

.logo {
    width: 30%;
    height: auto;
}

.newPost {
    margin: 1%;
    border: 5px solid rgba(18, 17, 164, 0.22);
    border-radius: 10px;
}

.p404 {
    width: 100%;
    height: 100%;
    /*background-image: url('../img/bluevw_old.jpg');*/
    /*background-image: url('https://dl.dropboxusercontent.com/s/s0tm2sq1nix9i4g/bluevw.jpg?dl=0');*/
    background-image: url('https://dl.dropboxusercontent.com/s/6hsz3ytdeqqyk9m/bluevw_old.jpg?dl=0');

    background-size: contain;
    background-repeat: no-repeat;
    /*padding-top: 66.64%; /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
}

.p404Title {
    text-align: center;
}

.contactForm {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 400px;
    overflow: hidden;
}

.contactFormHeader {
    background: purple;
    border-bottom: 4px solid purple;
    color: white;
    text-align: center;
    overflow: hidden;
}

h1 {
    line-height: 1em;
}

.formBody {
    margin: 2%;
}

.contactFormButton {
    margin-top: 10px;
}

.passwordChangeHeader {
    background: purple;
    border-bottom: 4px solid purple;
    color: white;
    text-align: center;
    overflow: hidden;
}

.passwordChangeView {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 450px;
    overflow: hidden;
}

.passwordChangeBtnSubmit {
    margin-top: 10px;
}

.passwordChangeForm {
    margin: 2%;
}

.registerView {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 450px;
    overflow: hidden;
}

.registerForm {
    margin : 2%;
}

#passwordResetView {
    margin-top: 2rem;
    background: #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    max-width: 450px;
    overflow: hidden;
}



/* used in layout.html to style the avatar */
.avatar {
    margin: 5px;
    border: 2px solid blue;
    border-radius: 25px;
    -webkit-box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.43);
    box-shadow: 9px 9px 15px -4px rgba(0, 0, 0, 0.43);
    width: 50px;
    height: 50px;
}

.center {
    text-align : center;
}

.checked {
    color : orange;
}

.heart {
    color : red;
}

.cards_catalog {
    display : flex;
    flex-wrap: wrap;
}

.b_card{
    display:grid;
    width:400px;
    max-width:400px;
    height:228px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "b_name b_name"
    "b_card_img b_rating"
    "b_card_img b_line_1"
    "b_card_img b_line_2"
    "b_address b_address";

    border-color: bisque;
    background-color: beige;
    border-radius: 5px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    /*padding: 5px;*/
}

.custom_card {
    width:400px;
    max-width:400px;
    height:228px;
    /*grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "b_name b_name"
    "b_card_img b_rating"
    "b_card_img b_line_1"
    "b_card_img b_line_2"
    "b_address b_address";*/

    
    
    border-radius: 5px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;    
}

.b_name {
    background-color: aliceblue;
    grid-area:b_name;
    text-align: center;
}

.b_card_img {    
    grid-area:b_card_img;   
    border-radius: 5px;    
    position: relative;
    height: 100%;
    width: auto;
    background-repeat:no-repeat; 
    background-size:contain;
    text-align: center;
}

.b_rating {
    /*background-color: cadetblue;*/
    grid-area:b_rating;
    padding-left: 3px;
}
.b_line_1 {
    /*background-color: darkcyan;*/
    grid-area:b_line_1;
    padding-left: 3px;
}
.b_line_2 {
    /*background-color: chocolate;*/
    grid-area:b_line_2;
    padding-left: 3px;
}

.b_address{
    background-color: rgb(207, 209, 202);
    grid-area:b_address;
    padding-left: 3px;
    text-align: center;
    font-size: large;
}

.business_form {
    margin : 10px;
}

#data_input {
    width : auto;
    max-width : 400px;
}

#card_style {
    width:320px;
    margin-bottom: 10px;
}

.image-upload > input {
    display: none;
}

.photo-camera {
    width : 48px;
    height : auto;
    position : absolute;
    top : 50px;
    left : 50px;
}

#div_address_id {
    text-align:center;
    font-size : 0.9rem;
}
