{% extends "openforbusiness/layout.html" %}
{% load static %}


{% block content %}
<div>
    <h3 class="center">Errors in Input Form</h3>
</div>

<div>
    {% if form.errors %}
    {% for field in form %}

    {% for error in field.errors %}
    {{field}}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}

</div>

<!--List of Business-->

{% endblock %}