<div class="card_back border-primary hide" id="card_back_{{biz.id}}">
	<!--header-->
	<div class="center_txt flip_cursor" onclick="flipCard('{{biz.id}}')" style="background:{{biz.card_style.bg_top}}; color:{{biz.card_style.txt_top}}">            
		<h4>{{ biz.name }}</h4>
	</div>
	
	<!--content-->
	<div  style="background:{{biz.card_style.bg_center}}; color:{{biz.card_style.txt_center}}">  
        <div class="center_txt">          
		{% if biz.address|length %}
			{{biz.addess}}{{biz.zip_code}}
		{% else %}
			&nbsp;
		{% endif %}
        </div>

        <div class="center_txt">
		{% if biz.email|length %}
			<a href="mailto:{{biz.email}}">{{biz.email}}</a>
		{% else %}
			&nbsp;
		{% endif %}			
        </div>

        <div class="center_txt">
		{% if biz.website|length %}
			<a href="{{biz.website}}" target="_blank">{{biz.website}}</a>
		{% else %}
			&nbsp;
		{% endif %} 
        </div>           
    </div>
	
	<!--footer-->
	<div style="background:{{biz.card_style.bg_bottom}}; color:{{biz.card_style.txt_bottom}};" class="center_txt">
		
		{% if biz.facebook|length %}	
			<a href = "http://www.facebook.com/{{biz.facebook}}">
				<span class="" id="basic-addon2"><i class="fa fa-facebook-official"></i></span>
			</a>
		{% endif %}
		{% if biz.instagram|length %}	
			<a href = "http://www.instagram.com/{{biz.instagram}}">
				<span class="" id="basic-addon3"><i class="fa fa-instagram"></i></span>
			</a>
		{% endif %}
		{% if biz.twitter|length %}	
			<a href = "http://www.twitter.com/{{biz.tweeter}}">
				<span class="" id="basic-addon4"><i class="fa fa-twitter-square"></i></span>
			</a>
		{% endif %}
		
		
	</div>
	
</div>