{% extends "openforbusiness/layout.html" %}
{% load static %}

{% block head %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<div class="cards_catalog" >
    {% for b in business %}

    <!--card -->    
    
    {% if b.use_my_card %}
        <div class="border-primary mb-3 custom_card"
                    style="background-image: url('../media/{{b.my_card}}');">                   
        </div>
    {% else %}
        <div class="b_card border-primary mb-3" style="background:{{b.card_style.bck_bottom}}">
            <div class="b_name" style="background:{{b.card_style.back_top}}">
                <h4>{{ b.name }}</h4>
            </div>            
            <div class="b_card_img" 
                style="
                    height:100%;
                    background-image: url('../media/{{b.card_image}}');
                    background-repeat:no-repeat; 
                    background-size:contain;                    
                    text-align: center;">                   
            </div>
            
            <!-- Favorite & Ratings -->
            <!--Note: this code is hihly coupled wit the js function setRating, if a new element is added or
            an old element is removed, the function will stop woring-->
            <div class="b_rating">                
                <a href="#" title="favorite">
                {% if b.favorite %}
                    <span class="fa fa-heart heart" data-favorite="True"  onclick="setFavorite (this, {{b.id}})"></span>
                {% else %}
                    <span class="fa fa-heart-o"     data-favorite="False" onclick="setFavorite (this, {{b.id}})"> </span>
                {% endif %}    
                </a>
                {% for r in b.getMaxStars %}
                    {% if r <= b.rating %}
                        <span class="fa fa-star checked" onclick="setRating (this, {{b.id}}, {{r}})"></span>
                    {% else %}
                        <span class="fa fa-star" onclick="setRating (this, {{b.id}}, {{r}})"></span>
                    {% endif %}
                {% endfor %}                                
            </div>
            <!-- Favorite and Ratings Ends-->

            <div class="b_line_1">
                {% if b.description_line_1|length  %}
                    {{ b.description_line_1 }}
                {% endif %}                
            </div>
            <div class="b_line_2">
                {% if b.description_line_1|length  %}
                    {{ b.description_line_2 }}
                {% endif %}
            </div>
            <div class="b_address" style="background:{{b.card_style.top_text_secundary}}; color:{{b.card_style.bck_bottom}};">
                {{ b.get_address }}
                {{ b.phone_number }}
            </div>
        </div>
        {% endif %} 
      <!--end of card-->

    {% empty %}
        <p> No business registered yet. </p>
    {% endfor %}
</div> <!--cards_container-->

<!--Django Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end pagination-style">
        <span class="step-links">
            {% if business.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ business.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
            Page {{ business.number }} of {{ business.paginator.num_pages }}.
            </span>
            {% if business.has_next %}
                <a href="?page={{ business.next_page_number }}">next</a>
                <a href="?page={{ business.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <!-- <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>-->
    </ul>
</nav>
<!-- End Django Pagination -->
{% endblock %}
