{% extends "openforbusiness/layout.html" %}
{% load static %}

{% block head %}
<script src="{% static 'js/newbusiness.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <h3 class="center">Test Color</h3>

</div>

<div id="django_form" class="form-group business_form">
    <form enctype="multipart/form-data" method="post" id="business_form">
        {% csrf_token %}
        <div class="d-none">
            {{ form.owner }}
        </div>
        <div class="b_card" id="bCard">
            <input type="text" class="form-control b_name" id="businessName" name="name" required placeholder="Business Name" style="background : white; color:green">

            <div class="b_card_img" style="background-image: url('../media/business_images/hand_shake.jpg');
                background-repeat:no-repeat;
                background-size:cover;
                height: 130px;
                text-align: center;
                margin-top:5px;
                margin-bottom:5px;">
                <div class="image-upload">
                    <label for="id_card_image">
                        <img class="photo-camera" src="{% static 'img/photo-camera.png' %}" />
                    </label>
                    <input name="card_image" id="id_card_image" type="file" accept="image/*" />           
                </div>
            </div>

    <div class="b_rating">
        <span class="fa fa-heart heart"></span>
        <!--span class="fa fa-heart-o"></!--span-->
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    10
                </div>
            <div class="b_line_1" >
                <input type="text" class="form-control b_name" id="description1" name="description_line_1" placeholder="description " style="background : white;">
            </div>
            <div class="b_line_2" >
                <input type="text" class="form-control b_name" id="description2" name="description_line_2" placeholder="description " style="background : white;">
            </div>
            <div class="b_address" id="div_address_id" style="">
                <span id="address_label_id" style="">
                    business address & phone number
                </span>
            </div>
        </div>  <!--end of card-->

        <div>
            {{form.category.label}}
            {{form.category}}
        </div>
        <div id="data_input">
            <!--Style Input-->
            <div id="style_input" style="margin-top:5px;">
                <label for="card_style">Card style:</label>
                <select name="card_style" required id="card_style" data-background="#343434" style="background: #343434;">
                    <option value="201" selected>caterpillar</option>
                    {% for color in colors %}

                    <option id="option-{{color.pk}}" value={{ color.pk }}
                            style="background:{{color.bck_bottom}};color:{{ color.top_text_secundary}};"
                            data-background={{color.bck_bottom}}
                            data-topbackground={{color.back_top}}
                            data-text={{color.primary_text}}
                            data-bottombackground={{color.top_text_secundary }}
                            data-iconscolor={{color.icons}}>

                        {{color.name}}
                    </option>
                    {% endfor %}

                </select>
            </div>

            <!--address input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="text" name="address" id="address_id" class="form-control" placeholder="business address" aria-label="business address" aria-describedby="basic-addon1">
            </div>

            <!--zip input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        ZIP
                    </span>
                </div>
                <input type="text" name="zip_code" id="zip_id" class="form-control" aria-label="zip code" aria-describedby="basic-addon1">
            </div>

            <!--phone input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                    </span>
                </div>
                <input type="text" name="phone_number" id="phone_id" class="form-control" aria-label="phone" aria-describedby="basic-addon1">
            </div>

            <!--website input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">www</span>
                </div>
                <input type="text" name="website" id="website_id" class="form-control" placeholder="website url" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <!--facebook input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-facebook-official"></i></span>
                </div>
                <input type="text" name="facebook" id="facebook_id" class="form-control" placeholder="facebook" aria-label="Facebook" aria-describedby="basic-addon2">
            </div>
            <!--instagram input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"><i class="fa fa-instagram"></i></span>
                </div>
                <input type="text" name="instagram" id="instagram_id" class="form-control" placeholder="instagram" aria-label="Instagram" aria-describedby="basic-addon3">
            </div>
            <!--tweeter input-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon4"><i class="fa fa-twitter-square"></i></span>
                </div>
                <input type="text" name="tweeter" id="tweeter_id" class="form-control" placeholder="tweeter" aria-label="Tweeter" aria-describedby="basic-addon4">
            </div>
            <input type='submit' value='Save'>
        </div> <!--data input-->
    </form>

</div>

<!--List of Business-->
{% endblock %}