{% extends "openforbusiness/layout.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'js/newbusiness.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_business_style.css' %}">
{% endblock %}

{% block content %}

<main class="input_cntr">
    
    <div>        
        {% include 'sites/previewcard.html' %}        
    </div>

    <div>
        <div id="django_form" class="form-group business_form">
            <form enctype="multipart/form-data" method="post" id="business_form">
                {% csrf_token %}
                <div id="data_input">
                    <!--name-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                Name        
                            </span>
                        </div>           
                        <input type="text" name="name" id="id_name" 
                            class="form-control" 
                            aria-label="name" 
                            aria-describedby="basic-addon1"
                            maxlength="250" required=""
                            placeholder = "{{biz.name}}"
                            value = "{{biz.name}}"
                            onKeyUp="changeLabelName(this,'label_new_name');" >
                    </div>

                    <!--Card Image-->
                    <div >   
                        <div style="background-color: lightgray;margin-bottom:5px;">Card Image</div>
                        <div style="margin-bottom:5px;">
                            {{form.card_image}}
                        </div>
                    </div>
                    <hr>
                    <!--Category-->
                    <div class="input-group mb-3">   
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Category</label>
                        </div>         
                        {{form.category}}
                    </div>

                        <!--Card Style-->
                            <div class="input-group mb-3"> 
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="card_style">Styles</label>
                            </div>
                            <select name="card_style" 
                                required id="card_style" 
                                data-background="#343434" 
                                style="background: #343434;"
                                onchange="showCardStyle (this)"> 

                                {% for color in colors %}
                                <option id="option-{{color.pk}}" 
                                        value={{ color.pk }}

                                        {% if biz.card_style.id == color.pk%}
                                            selected
                                        {% endif %}

                                        style="background:{{color.bg_top}};color:{{ color.txt_top}};"
                                        
                                        data-bg_top={{color.bg_top}}
                                        data-txt_top={{color.txt_top}}
                                        
                                        data-bg_center={{color.bg_center}}
                                        data-txt_center={{color.txt_center}}
                                        
                                        data-bg_bottom={{color.bg_bottom }}
                                        data-txt_bottom={{color.txt_bottom }}

                                        data-iconscolor={{color.icons}}>
                                    {{color.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <!--line 1-->
                        <div class="input-group mb-3 b_line_2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    Line 1       
                                </span>
                            </div>           
                            <input type="text" name="services_1" id="id_services_1" 
                                class="form-control" 
                                aria-label="service" 
                                aria-describedby="basic-addon1"
                                maxlength="50"
                                placeholder = "service"
                                value= "{{biz.services_1}}"
                                onKeyUp="changeLabelName (this,'services_1');" >
                        </div>

                        <!--line 2-->
                        <div class="input-group mb-3 b_line_2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    Line 2       
                                </span>
                            </div>           
                            <input type="text" name="services_2" id="id_services_2" 
                                class="form-control" 
                                aria-label="service" 
                                aria-describedby="basic-addon1"
                                maxlength="50"
                                placeholder = "service"
                                value= "{{biz.services_2}}"
                                onKeyUp="changeLabelName (this,'services_2');" >
                        </div>

                        <!--line 3-->
                        <div class="input-group mb-3 b_line_2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    Line 3       
                                </span>
                            </div>           
                            <input type="text" name="services_3" id="id_services_3" 
                                class="form-control" 
                                aria-label="service" 
                                aria-describedby="basic-addon1"
                                maxlength="50"
                                placeholder = "service"
                                value= "{{biz.services_3}}"
                                onKeyUp="changeLabelName (this,'services_3');" >
                        </div>

                        <!--line 4-->
                        <div class="input-group mb-3 b_line_2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    Line 4       
                                </span>
                            </div>           
                            <input type="text" name="services_4" id="id_services_4" 
                                class="form-control" 
                                aria-label="service" 
                                aria-describedby="basic-addon1"
                                maxlength="50"
                                placeholder = "service"
                                value= "{{ biz.services_4|default_if_none:"" }}"
                                onKeyUp="changeLabelName (this,'services_4');" >
                        </div>

                        <!--address input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" name="address" id="address_id" 
                                class="form-control" 
                                placeholder="business address" 
                                value = "{{biz.addess}}"
                                aria-label="business address" 
                                aria-describedby="basic-addon1">
                        </div>

                        <!--zip input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    ZIP
                                </span>
                            </div>
                            <input type="text" name="zip_code" id="zip_id" 
                                class="form-control" 
                                placeholder="{{biz.zip_code}}"
                                value="{{biz.zip_code}}"
                                aria-label="zip code" 
                                aria-describedby="basic-addon1">
                        </div>

                        <!--phone input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" name="phone_1" id="phone_1_id" 
                                class="form-control" 
                                aria-label="phone" 
                                placeholder="{{biz.phone_1}}"
                                value="{{biz.phone_1}}"
                                aria-describedby="basic-addon1"
                                onKeyUp="changeLabelName (this,'phone_1_pre');">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" name="phone_2" id="phone_2_id" 
                                class="form-control" 
                                aria-label="phone" 
                                placeholder="{{biz.phone_2}}"
                                value="{{biz.phone_2}}"
                                aria-describedby="basic-addon1"
                                onKeyUp="changeLabelName (this,'phone_2_pre');">
                        </div>


                        <!--email input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="email" name="email" id="email_id" 
                                class="form-control" 
                                aria-label="email" 
                                {% if biz.email|length %}
                                    value="{{biz.phone_number}}"
                                {% else %}
                                    placeholder="Email address"
                                {% endif %}
                                
                                aria-describedby="basic-addon1">
                        </div>

                        <!--website input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">www</span>
                            </div>
                            <input type="text" name="website" id="website_id" 
                                class="form-control"      
                                {% if biz.webiste|length %}              
                                    placeholder="{{biz.website}}"
                                    value="{{biz.website}}" 
                                {% else %}
                                    placeholder="www.yourbusiness.com"
                                {% endif %}
                                aria-label="website url" 
                                aria-describedby="basic-addon1">
                        </div>
                        <!--facebook input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-facebook-official"></i></span>
                            </div>
                            <input type="text" name="facebook" id="facebook_id" 
                                class="form-control" 
                                {% if biz.facebook|length %}
                                    value="{{biz.facebook}}" 
                                {%endif%}                                
                                aria-label="Facebook" 
                                aria-describedby="basic-addon2">
                        </div>

                        <!--instagram input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i class="fa fa-instagram"></i></span>
                            </div>
                            <input type="text" name="instagram" id="instagram_id" 
                                class="form-control" 
                                {% if biz.instagram|length %}
                                    value="{{biz.instagram}}" 
                                {%endif%}
                                aria-label="Instagram" 
                                aria-describedby="basic-addon3">
                        </div>


                        <!--tweeter input-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon4"><i class="fa fa-twitter-square"></i></span>
                            </div>
                            <input type="text" name="twitter" id="tweeter_id" 
                                class="form-control" 
                                {% if biz.twitter|length %}
                                    value="{{biz.twitter}}" 
                                {%endif%}
                                aria-label="twitter" aria-describedby="basic-addon4">
                        </div>
                        
                        <div id="btn_cnt">
                            <input class="btn btn-primary" type='submit' value='Save'>   
                            <a href="javascript:window.history.back()" class="btn btn-secondary">Cancel</a>         
                        </div>
                    </div><!--data input-->
                </form>
            </div>
       
    </div> <!--container-->
</main>

<footer>
    teopinillo 12/2021 v 1.0
</footer>

{% endblock %}