{% load static %}
<div class="b_card border-primary mb-3" id="bCard">
    
    <div id="label_new_name_div" class="b_name" style="background:white; color:black">
        <h4 id="label_new_name" style="background:white; color:black;">{{biz.name}}</h4>
    </div> 

    <div id="input_img_cntr" class="img_container">

        {% if biz.card_image|length%}
            <img class="business_img"
                src="{{biz.card_image.url}}" 
                alt="image">
        {% else %}
            <img class="business_img"
                src="{% static  'images/hand_shake.jpg' %}" 
                alt="image">
        {% endif %}
    </div>

     <!--Business services-->        
    <div id="des_ctnr" class="business_description" style="background:lightgreen;">
        <div class="b_rating">
            <span id="heart" class="fa fa-heart heart"></span>        
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span id="pre_reviews" class="link_review" >(10 reviews)<span>
        </div>
        <div class="b_line_1 services" style="background : white;" id="services_1">
            {{biz.services_1}}
        </div>
        <div class="b_line_2 services" style="background : white;" id="services_2"> 
             {{biz.services_2}}
        </div>
        <div class="b_line_2 services" style="background : white;" id="services_3"> 
            {{biz.services_3}}
        </div>
        <div class="b_line_2 services" style="background : white;" id="services_4"> 
            {{biz.services_4}}
        </div>
    </div>

     <!--phones-->
    <div class="b_address" id="phone_ctrn" 
        style="background:{{biz.card_style.bg_bottom}};
        color:{{biz.card_style.txt_bottom}};"> 

        <a href="#" id="phone_1_pre"  class="ph_preview" > 
        {{biz.phone_1}}
        </a>
    
        &bull; 
        <a href="#" id="phone_2_pre" class="ph_preview">
            {{biz.phone_2}}
        </a>
        
    </div>

    </div>  <!--end of card-->